.blog_view_all {
	width: 1050px;
	text-align: center;
}

.blog_view_all > p {
	max-width: 880px;
	margin: 0 auto;
	text-align: left;
}

/*.blog_view_all p {
	text-align: center;
}*/



/*ここからplants/view.ctp*/

.resizeimage {
	height: 700px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.resizeimage img {
	width: 100%;
	height: auto;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
}