.blog_all p {
	padding-left: 78px;
}

#container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;

	/*background-color: rgba(255, 0, 0, 0.15);*/
}

#header h1 {
	padding-left: 71px;
}

#header h1 a {
	color: #4e4b4b;
	font-weight: normal;
	text-decoration: none;
}

#footer {
	max-width: 1050px;
}

#footer p {
	padding-left: 71px;
}