/*#container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;

	background-color: rgba(255, 0, 0, 0.15);
}*/

/*.blog_all p {
	padding-left: 78px;
}*/

#header > ul {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

#header > ul > li {
	color: #4d4d4d;
	font-size: 30px;
	display: inline-block;
}

#header a {
	color: #4d4d4d;
	font-weight: lighter;
	text-decoration: none;
}

#header > ul > li > span {
	font-size: 30px;
	font-weight: lighter;
	color: #4d4d4d;
}

#footer {
	max-width: 1050px;
}

#footer p {
	padding-left: 71px;
}