.blog_view_all {
	/*width: 1050px;
	text-align: center;*/
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;
}

.blog_view_all > p {
	max-width: 880px;
	margin: 0 auto;
	text-align: left;
}




/*ここからplants/view.ctp*/

.view_all {
	max-width: 1050px;
}

.resizeimage {
	height: 700px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.resizeimage img {
	width: 100%;
	height: auto;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
}

.site-box {
	/*width: 1050px;*/
	width: 100%;
}

.block_image {
	height: 400px;
	padding: 0px;
}

.image_size {
	width: auto;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.image_size > img {
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	min-height: 100%;
	min-width: 100%;
	max-width: inherit;
	position: absolute;
	height: 100%;
	width: auto;
}

.block_detail {
	height: 400px;
}

.block_detail > h1 {
	margin-left: 50px;
}

.information_block {
	margin-top: 45px;
	margin-bottom: 10px;
	margin-left: 50px;
}

.btn {
	margin: 45px auto auto 400px;
    background-color: #dad7d0;
	width: 25%;
}

.btn:hover {
	opacity: 0.5;
}

.lifestyle {
	margin-top: 55px;
}